/* Тут пиши основные стили */
.header {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size:42px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:44px;
}

.text {
    font-family:Georgia;
    font-size:21px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:33px;

    padding-top: 10;
}

.topic {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size:34px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:39px;
}

@media (max-width: 800px) {
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
}